<div class="bash">
  <h1>Bash</h1>
  <p>$ <%=session[:conductor_command_test].to_s%></p>
</div>
<h1>Tests </h1>
<div id="editor" class="tests">
</div>
<%= content_for :scripts do %>
<%= javascript_include_tag "conductor/editor" %>
<%= javascript_include_tag "conductor/tests" %>
<% end %>
