<h1>Tests </h1>
<div id="editor" class="tests">
</div>
<%= text_area_tag :test_body %>

<%= content_for :scripts do %>
  <%= javascript_include_tag "conductor/editor" %>
  <%= javascript_include_tag "conductor/tests" %>
<% end %>
