<div class="bash">
  <h1>Bash</h1>
  <p>$ bundle install</p>
</div>
<h1>Install gems </h1>
<div id="editor" class="installgems">
</div>
<%= content_for :scripts do %>
<%= javascript_include_tag "conductor/editor" %>
<%= javascript_include_tag "conductor/installgems" %>
<% end %>
