
    <div id="getting-started">
      <h1>Conductor</h1>
        <p>Conductor is a Rails engine that lets you do through a web UI what you'd normally do with the rails shell command.</p>
      <h1>License</h1>
        <p>Copyright © David Heinemeier Hansson.</p>
    </div>


