<div class="bash">
  <h1>Bash</h1>
  <p>$ rake routes</p>
</div>
<h1>Routes</h1>

<p>
  Routes match in priority from top to bottom
</p>

<div style="font-size: .8em;">
  <%= @routes_inspector.format(ActionDispatch::Routing::HtmlTableFormatter.new(self)) %>
</div>