<div id="bash">
  <h1>Bash</h1>
  <p>$ rake db:rollback</p>
</div>
<h1>Roll back</h1>
<div id="editor" class="tests">
</div>
<%= content_for :scripts do %>
  <%= javascript_include_tag "conductor/editor" %>
  <%= javascript_include_tag "conductor/rollback" %>
<% end %>